@import "tailwindcss";

:root { 
  --logo-color: #8338ec;
}

@font-face {
  font-family: FredokaOne;
  src: url(../public/fredoka-one/FredokaOne-Regular.ttf)
}

.FredokaOne{
  font-family: FredokaOne;
}

@font-face {
  font-family: FiraGO;
  src: url(../public/FiraGO_OTF_1001/Roman/FiraGO-Medium.otf)
}

.FiraGO {
  font-family: FiraGO
}