@import "tailwindcss";

:root { 
  --padding-x: 120px;
  --green: #08a508;
  --yellow: #ffbe0b;
  --red: #fa4d4d;
  --primaryDark: #212529;
  --darkGray: #343a40;
}

@theme {
  --font-firago: "FiraGo"
}

@font-face {
  font-family: FredokaOne;
  src: url(../public/fredoka-one/FredokaOne-Regular.ttf)
}

.FredokaOne{
  font-family: FredokaOne;
}

@font-face {
  font-family: FiraGO;
  src: url(../public/FiraGO_OTF_1001/Roman/FiraGO-Medium.otf)
}

. {
  font-family: FiraGO
}

@font-face {
  font-family: FiraGO;
  src: url(../public/FiraGO_OTF_1001/Roman/FiraGO-Bold.otf)
}

.FiraGOBold {
  font-family: FiraGO
}